<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
        <servlet-name>registry</servlet-name>
        <servlet-class>orca.registry.RegistryServlet</servlet-class>
        <init-param>
          <param-name>enabledForExtensions</param-name>
          <param-value>false</param-value>
          <description>
            Sets, whether the servlet supports vendor extensions for XML-RPC.
          </description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>registry</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Elements</web-resource-name>
      <url-pattern>/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>goadmins</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Form-based authentication -->
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>ORCA Actor Registry</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
